root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.js]
indent_size = 2
trim_trailing_whitespace = false

[*.ts]
indent_size = 2
trim_trailing_whitespace = false

[*.es6]
indent_size = 2
insert_final_newline = false
trim_trailing_whitespace = false

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false

[*.css]
indent_size = 2
trim_trailing_whitespace = false
